<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast</h1>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
        <li>
          <%= image_tag podcast.thumbnail.url(:medium) %>
          <div class="podcast_overview">
            <h3><%= podcast.title %> </h3>
            <p class="episode_count">42 episodes</p>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
