<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1> <%= @podcast.title %></h1>
      <p class="description"><%= @podcast.description %></p>
    </div>
  </div>

  <div id="breadcrumb">
    <%= link_to podcasts_path do %>
      All Podcsats
    <% end %>
      <span>/</span>
      The Balance Podcast

  </div>

  <div id="episodes">
    <div class="wrapper_skinny2">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="images/episodes/Rectangle 36.jpg" alt="Live Slow" />
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">42. Live Slow, Make Fast & Ben Jenkins</a></h2>
            <p class="description">Native Texan Ben Jenkins is an American designer, brand strategist, entrepreneur, and semi-pro Dad, husband, surfer, and angler. He is the founder of the branding company Onefastbuffalo, the sporting goods brand Warstic, Workhaus Lodge, Western Son Vodka.</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="images/episodes/Rectangle 35.jpg" alt="Live Slow" />
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">42. Live Slow, Make Fast & Ben Jenkins</a></h2>
            <p class="description">Native Texan Ben Jenkins is an American designer, brand strategist, entrepreneur, and semi-pro Dad, husband, surfer, and angler. He is the founder of the branding company Onefastbuffalo, the sporting goods brand Warstic, Workhaus Lodge, Western Son Vodka.</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="images/episodes/Rectangle 34.jpg" alt="Live Slow" />
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">42. Live Slow, Make Fast & Ben Jenkins</a></h2>
            <p class="description">Native Texan Ben Jenkins is an American designer, brand strategist, entrepreneur, and semi-pro Dad, husband, surfer, and angler. He is the founder of the branding company Onefastbuffalo, the sporting goods brand Warstic, Workhaus Lodge, Western Son Vodka.</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="images/episodes/Rectangle 33.jpg" alt="Live Slow" />
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">42. Live Slow, Make Fast & Ben Jenkins</a></h2>
            <p class="description">Native Texan Ben Jenkins is an American designer, brand strategist, entrepreneur, and semi-pro Dad, husband, surfer, and angler. He is the founder of the branding company Onefastbuffalo, the sporting goods brand Warstic, Workhaus Lodge, Western Son Vodka.</p>
          </div>
        </li>
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="episode.html">
              <img src="images/episodes/Rectangle 32.jpg" alt="Live Slow" />
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="episode.html">42. Live Slow, Make Fast & Ben Jenkins</a></h2>
            <p class="description">Native Texan Ben Jenkins is an American designer, brand strategist, entrepreneur, and semi-pro Dad, husband, surfer, and angler. He is the founder of the branding company Onefastbuffalo, the sporting goods brand Warstic, Workhaus Lodge, Western Son Vodka.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pagination">
  <span class="previous_page disabled">previous</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a class="next_page" href="#">next</a>
</div>







</body>
</html>
